<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/alerts.js" defer></script>
</head>
<body>
  <%- include('../partials/header') %>
  <%- body %>
</body>
</html>